
<!-- include header -->
<%- include('include/_header') %>
<!-- /include header -->
<header id="header">
    <nav>
        <div class="container">
            <div class="text-center">
                <a href="#" class="nav-brand text-dark">welcome to ecommerce System</a>
            </div>
            <ul>
               
                <li><a href="/logout">Logout</a></li>
            </ul>
        </div>
    </nav>
</header>
<!-- /Header -->
<p>
<%if(typeof message == "undefined"){%>

<% } else { %>
    
    Welcome  <%= message %> 
<%}%>
</p>
  <!-- Main Site -->
  <main id="site-main">
	<div class="container">
		<div class="box-nav d-flex justify-between">
			<div class="filter"> <a href="/products"><i class="fas fa-angle-double-left"></i> All Products</a> </div>
		</div>
		<div class="form-title text-center">
			<h2 class="text-dark">New Product</h2> <span class="text-light">Use the below form to create a new product</span>
        </div>
		<!-- add user form -->
		<%- include('include/_form') %>
	</div>
</main>
<!-- /Main Site -->

<!-- include footer -->
<%- include('include/_footer') %>
<!-- /include footer -->
