<%- include('include/_header') %>
   <!-- Header -->
        <header id="header">
            <nav>
                <div class="container">
                    <div class="text-center">
                        <a href="#" class="nav-brand text-dark">Product Management System</a>
                    </div>
                    <ul>
                        <li><a href="/products">products</a></li>
                        <li><a href="/logout">Logout</a></li>
                    </ul>
                </div>
            </nav>
        </header>
    <!-- /Header -->
<p>
    <%if(typeof message == "undefined"){%>
  
        <% } else { %>
            
            Welcome  <%= message %> 
     <%}%>

     <%if(typeof status == "undefined"){%>
  
        <% } else { %>
            
              <%= status %> 
     <%}%>
</p>


        <!-- form handling -->
    

<%- include('include/_footer') %>