
<!-- include header -->
    <%- include('include/_header') %>
<!-- /include header -->

<header id="header">
    <nav>
        <div class="container">
            <div class="text-center">
                <a href="#" class="nav-brand text-dark">welcome to ecommerce System</a>
            </div>
            <ul>
               
                <li><a href="/logout">Logout</a></li>
            </ul>
        </div>
    </nav>
</header>
<p>
    <%if(typeof message == "undefined"){%>
  
        <% } else { %>
            
            Welcome  <%= message %> 
     <%}%>
</p>
    <!-- Main Site -->
    <main id="site-main">
        <div class="container">
            <div class="box-nav d-flex justify-between">
                <a href="/add-product" class="border-shadow">
                    <span class="text-gradient">New Product <i class="fas fa-user"></i></span>
                </a>
            </div>

            <!-- form handling -->
            <form action="/" method="POST">
                <table class="table">
                    <thead class="thead-dark">
                        <tr>
                            <th>ID</th>
                            <th>Name</th>
                            <th>Description</th>
                            <th>price</th>
                            <th>quantity</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% i=0; %>
                        <% products.forEach(function(product) { %>
                            <tr>
                                <td><%= i+1 %></td>
                                <td><%= product.product_name %></td>
                                <td><%= product.product_description %></td>
                                <td><%= product.price %></td>
                                <td><%= product.quantity %></td>
                                <td>
                                    <a href="/update-product?id=<%= product._id%>" class="btn border-shadow update">
                                        <span class="text-gradient"><i class="fas fa-pencil-alt"></i></span>
                                    </a>
                                    <a href="/delete-product/<%= product._id%>"  class="btn border-shadow delete" data-id=<%= product._id%> >
                                        <span class="text-gradient"><i class="fas fa-times"></i></span>
                                    </a>
                                </td>
                            </tr>
                            <% i++; %>
                            <% }) %>
                    </tbody>
                </table>
            </form>
        </div>
    </main>
<!-- /Main Site -->


<!-- include footer -->
<%- include('include/_footer') %>
<!-- /include footer -->