<%- include('include/_header') %>


<main id="site-main">
<div class="container">
    <div class="box-nav d-flex justify-between">
        <div class="filter">
            <a href="/"><i class="fas fa-angle-double-left"></i> Home Page</a>
        </div>
     </div>
     <div class="form-title text-center">
         <h2 class="text-dark"> Login Page</h2>
         <span class="text-light">Use the below form to login an account</span>
     </div>
     <%if(typeof message == "undefined"){%>
  
        <% } else { %>
            
             <%= message %> 
        <%}%>
<form action="/loginuser" method="POST" autoComplete="off">
    <div class="new_user">
<div class="form-group">
    <label for="password" class="text-light ">email</label>
    <input type="email" class="form-control" id="email" name="email">
</div>
<div class="form-group">
    <label for="username" class="text-light "> password</label>
    <input type="password" class="form-control" placeholder="password" id="password" name="password">
</div>
<div class="form-group text-center">
    <button type="submit" class="btn btn-primary">Submit</button>
    </div>
</div>
</form>
</div>
</main>
<!-- <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/registration">SignUp</a></li>
</ul> -->