
 <%- include('include/_header') %>
<div class="jumbotron text-center">
  <h1>Ecommerce Page</h1>
  <p>Welcome to Ecommerce project</p> 
</div>
  
<div class="container">
  <div class="row">
    <div class="col-sm-4">
      <h3>Register </h3>
      <p><a href="/registration">Register</a></p>
  
    </div>
    <div class="col-sm-4">
      <h3>Description</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
      <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris...</p>
    </div>
    <div class="col-sm-4">
      <h3>Login</h3>        
      <p><a href="/login">Login</a></p>
    </div>
  </div>
</div>
<%- include('include/_footer') %>

