<%- include('include/_header') %>


<main id="site-main">
<div class="container">
    <div class="box-nav d-flex justify-between">
        <div class="filter">
            <a href="/"><i class="fas fa-angle-double-left"></i> Home Page</a>
        </div>
     </div>
     <div class="form-title text-center">
         <h2 class="text-dark"> SignUp Page</h2>
         <span class="text-light">Use the below form to Register an account</span>
     </div>
     <%if(typeof message == "undefined"){%>
  
        <% } else { %>
            
             <%= message %> 
        <%}%>
<form action="/register" method="POST" autoComplete="off">
    <div class="new_user">
    <div class="form-group">
    <input type="hidden" name="_csrf" value="<%= csrfToken  %>">
    <label for="username" class="text-light "> Name</label>
    <input type="text" id="name" class="form-control" name="name">
    </div>
    <div class="form-group">
    <label for="password" class="text-light">Email</label>
    <input type="text" id="email" class="form-control" name="email">
    </div>
    <div class="form-group">
        <label for="password" class="text-light">Password</label>
        <input type="password" id="password" class="form-control" name="password">
    </div>
    <div class="form-group">
        <label for="gender" class="text-light">Gender</label>
        <div class="radio inline">
            <input type="radio" id="radio-2" name="gender" value="Male" >
            <label for="radio-2" class="radio-label">Male</label>
        </div>
        <div class="radio inline">
            <input type="radio" id="radio-3" name="gender" value="Female" >
            <label for="radio-3" class="radio-label">Female</label>
        </div>
    </div>
    <input type="hidden" id="type" class="form-control" name="type" value="user">
    <div class="form-group text-center">
    <button type="submit" class="btn btn-primary">Submit</button>
    </div>
</div>
</form>
    </div>
</main>
<!-- <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/login">login</a></li>
</ul> -->
<%- include('include/_footer') %>