
<!-- include header -->
<%- include('include/_header') %>
<!-- /include header -->
<header id="header">
    <nav>
        <div class="container">
            <div class="text-center">
                <a href="#" class="nav-brand text-dark">welcome to ecommerce System</a>
            </div>
            <ul>
               
                <li><a href="/logout">Logout</a></li>
            </ul>
        </div>
    </nav>
</header>
<!-- /Header -->
<p>
<%if(typeof message == "undefined"){%>

<% } else { %>
    
    Welcome  <%= message %> 
<%}%>
</p>
  <!-- Main Site -->
  <main id="site-main">
	<div class="container">
		<div class="box-nav d-flex justify-between">
			<div class="filter"> <a href="/products"><i class="fas fa-angle-double-left"></i> All Products</a> </div>
		</div>
		<div class="form-title text-center">
			<h2 class="text-dark">Update Product</h2> <span class="text-light">Use the below form to Update an account</span> </div>
		<!-- add user form -->
		<!-- form handling -->
		<form method="POST" action="/update_product_data" id="update_product">
			<div class="new_user">
				<div class="form-group">
					<label for="name" class="text-light">Product Name</label>
					<input type="hidden" name="id" value="<%= products._id %>">
					<input type="text" name="product_name" class="form-control" value="<%= products.product_name %>" placeholder="bulb"> </div>
				<div class="form-group">
					<label for="Email" class="text-light">Description</label>
					<textarea name="product_description" class="form-control">
						<%= products.product_description %>
					</textarea>
				</div>
				<div class="form-group">
					<label for="gender" class="text-light">Price</label>
					<input type="number" class="form-control" id="price" name="price" value="<%= products.price %>"> </div>
				<div class="form-group">
					<label for="gender" class="text-light">Quantity</label>
					<input type="number" class="form-control" id="quantity" name="quantity" value="<%= products.quantity %>"> </div>
				<div class="form-group text-center">
					<button type="submit" class="btn btn-primary">Save</button>
				</div>
			</div>
		</form>
	</div>
</main>
<!-- /Main Site -->

<!-- include footer -->
<%- include('include/_footer') %>
<!-- /include footer -->
