<%- include('include/_header') %>
   <!-- Header -->
        <header id="header">
            <nav>
                <div class="container">
                    <div class="text-center">
                        <a href="/" class="nav-brand text-dark">welcome to ecommerce System</a>
                    </div>
                    <ul>
                       
                        <li><a href="/logout">Logout</a></li>
                    </ul>
                </div>
            </nav>
        </header>
    <!-- /Header -->
<p>
    <%if(typeof message == "undefined"){%>
  
        <% } else { %>
            
            Welcome  <%= message %> 
     <%}%>
</p>
<% products.forEach(function(p){ %>
    <div class="col-xs-12 col-md-4 p">
        <a class="pa" href="#">
            <img class="pimage" src="#" alt="">
        </a>
        <h3><%= p.product_name %></h3>
        <h4>Rs<%= parseFloat(p.price).toFixed(2) %></h4>
    </div>
<% }); %>


<%- include('include/_footer') %>