 <!-- form handling -->
 <%if(typeof add_status == "undefined"){%>
  
    <% } else { %>
        
         <%= add_status %> 
    <%}%>
    <form action="/add_product" method="POST" id="add_product" autoComplete="off">
        <div class="new_user">
            <div class="form-group">
                <label for="name" class="text-light">Product Name</label>
                <input type="hidden" name="id" value="">
                <input type="text" class="form-control" name="product_name" value="" placeholder="bulb"> </div>
            <div class="form-group">
                <label for="Email" class="text-light">Description</label>
                <textarea type="text" class="form-control" name="product_description" value="" placeholder="bulb is nice"></textarea>
            </div>
            <div class="form-group">
                <label for="gender" class="text-light">Price</label>
                <input type="number" class="form-control" id="price" name="price" placeholder="45"> </div>
            <div class="form-group">
                <label for="gender" class="text-light">Quantity</label>
                <input type="number" class="form-control" id="quantity" name="quantity" placeholder="12"> </div>
            <div class="form-group text-center">
                <button type="submit" class="btn btn-primary">Save</button>
            </div>
        </div>
    </form>